{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Dashboard | Customer</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />    
	<link href="{% static 'customer/dash/css/templatemo-style.css' %}" rel="stylesheet" />
	<link href="{% static 'customer/dash/css/style.css' %}" rel="stylesheet" />

	
</head>
<!--

Simple House

https://templatemo.com/tm-539-simple-house

-->
<body> 

	<div class="container">
	<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'customer/dash/img/simple-house-01.jpg' %}">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<a href="{% url 'customer_profile' %}"><img src="{% static 'customer/dash/img/simple-house-logo.png' %}" alt="Logo" class="tm-site-logo" /> </a>
							<div class="tm-site-text-box">
								<h1 class="tm-site-title">Simple House</h1>
								<h6 class="tm-site-description">new buying platform</h6>	
							</div>
						</div>
						{% block Active1 %}

						{% endblock %}	
					</div>
				</div>
			</div>
		</div>


		{% block NewContent %}

		{% endblock %}
		

		
	</div>
	<script src="{% static 'customer/dash/js/jquery.min.js' %}"></script>
	<script src="{% static 'customer/dash/js/parallax.min.js' %}"></script>
	<script>
		$(document).ready(function(){
			// Handle click on paging links
			$('.tm-paging-link').click(function(e){
				e.preventDefault();
				
				var page = $(this).text().toLowerCase();
				$('.tm-gallery-page').addClass('hidden');
				$('#tm-gallery-page-' + page).removeClass('hidden');
				$('.tm-paging-link').removeClass('active');
				$(this).addClass("active");
			});
		});
	</script>
</body>
</html>