{% extends 'company/dash/base.html' %}
{% load static %}

{% block title1 %}
  <title>AdminLAB | View Accepted Order</title>
{% endblock title1 %}

{% block Name %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Accepted Orders:</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
          <li class="breadcrumb-item active">view_accepted_order</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
{% endblock %}

{% block NewContent %}
<div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><b>Accepted Orders</b></h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <table class="table">
          <thead>
            <tr style="text-align: center;">
              <th style="width: 80px">Sr No.</th>
              <th>Customer Name</th>
              <th style="width: 150px;">Status</th>
            </tr>
          </thead>
          <tbody>
              {% for i in cust1 %}
                <tr style="text-align: center;">
                    <td>{{forloop.counter}}.</td>
                    <td><a href="{% url 'order_list_p' i.id %}" style="text-decoration:none; color: black;">{{ i }}</td>
                    <td><a href="#" class="badge bg-warning">Not Paid</a></td>
                </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
</div>
{% endblock %}